[core]
	excludesfile = ~/.gitignore_global

[user]
	name = mozchan
	email = 29094089+mozchan@users.noreply.github.com

[color]
	ui = auto

[alias]
	st = status
	ci = commit
	co = checkout
	cob = checkout -b
	br = branch
	brd = branch -d
	rl = reflog
	lg = log --oneline
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
	sh = stash save -u
	shd = stash drop
	shp = stash pop
	shb = stash branch
	shl = stash list

[includeIf "gitdir:~/_htdocs/Bitbucket/"]
	path = .gitconfig-Bitbucket

# [commit]
# 	template = ~/.gitmessage
